@font-face {
  font-family: 'avenir';
  src: url('../fonts/Avenir-Book.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aeh';
  src: url('../fonts/AEH.ttf');
  font-weight: normal;
  font-style: normal;
}

$green: #3ab2bd;
$blue: #5e6493;
$orange: #ec8b63;
$pink: #ae3e88;
$violet: #5468ff;
